nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  background-color:#37d9fd;
  color: white;
  margin-bottom: 2em;;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

nav div {
  margin-top: 10px;
  float: center;
  font: 16px;
  font-family: 'Mochiy Pop One', sans-serif;
  vertical-align: middle;
  padding-bottom: 1%;
}
