<!DOCTYPE html>

<html lang="en"></html>

<h1>Admin Page</h1>
<main>
  <ol>Order ID</ol>
  <ol>Customer name/id</ol>
  <ol>Phone Number</ol>
  <ol>Order Items</ol>
  <ol>Estimated Time</ol>
</main>

<body></body>
