<!DOCTYPE html>

<html lang="en"></html>



<nav>
  <ol>
    <a>Coffee House</a>
    <a>Cold Drinks</a>
    <a>Hot Drinks</a>
    <a>Baked Goods</a>
  </ol>
</nav>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/public/scripts/app.js"></script>
</head>
<!-- <head>Summary Page</head>
<main>
  <button class="show">Check</button>
  <div class="thanks">
    Thanks user.name
  </div>
  <div class="items-price">
    Items/Price/Time
  </div>
  <div>
    <button onclick="returnHome()" type="submit">Return Home / Order Again</button>
    <script>
      function returnHome() {
        location.href = "http://localhost:8080";
      }
    </script>
  </div>
</main> -->

<div id="hidediv">This is a paragraph.</div>
<button class="btn1">next</button>
<div id="showingdiv"><p>showing div next</p></div>
