header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;
  padding: 2% ;
  color: white;

  background-image: url('https://img.graphicsurf.com/2018/05/coffee-vector-seamless-pattern2-720x480.jpg');
  background-color: #cccccc;
  background-repeat: repeat;

  .header-circle {
    border-radius: 100%;
    background-color: black;
    height: 90px;
    width: 90px;
    display: flex ;
    align-items: center;
    font-size: smaller;
    text-align: center;
  }
}
