header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100%;
  padding: 2% ;
  color: white;



  .header-circle {
    color:black;
    display: flex ;
    align-items: center;
    font-size: clamp(1em, 3vw, 3em);
    text-align: center;
    margin-top: 1em;
    font-style: italic;
    text-decoration: dotted underline;
    text-underline-offset: 5px;
  }
}
