main {
  display: flex;
  justify-content: space-between;

  .hot {
    background-color: rgba(253, 93, 30, 0.842);
  }

  .cold {
    background-color: #b1d0fc;
  }

  .baked {
    background-color: rgb(255, 195, 106);
  }

  #menus {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10% 7%;
    width: 100%;

    div {
      padding: 20% 10%;
      cursor: pointer;
    }

    :hover {
      opacity: 70%;
    }
  }

  .menu {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 10% 0%;
    width: 100%;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      height: 40%;
    }

    img {
      border-radius: 50%;
      max-width: 65%;
      height: auto;
    }
  }

  #cart-menu {
    display: none;
    width: 20%;
    border-left: 5px solid rgb(104, 23, 23);
    padding: 1%;
    background-color: #B68D40;
  }
}
