nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2% 5%;
  background-color: rgb(104, 23, 23);

  color: white;

  :hover {
    color: black;
  }

  div {
    cursor: pointer;
  }
}
