nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  padding: 2% 5%;
  font-size: 10px;
  background-color:#37d9fd;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");

  color: white;

  #item-counter{
    font-size: 10px
  }

  :hover {
    color: black;
  }

  div {
    cursor: pointer;
  }
}
