nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3%;
  background-color: rgb(104, 23, 23);

  color: white;
  font-family: 'Mochiy Pop One', sans-serif;

  :hover {
    color: black;
  }

  div {
    cursor: pointer;
  }
}
